@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
  }
  
  body {
    min-height: 100%;
  }
  
  /* Fix for dark mode overscroll */
  html.dark {
    background-color: #111827; /* Match your dark mode background */
  }
  
  html.dark body {
    background-color: #111827; /* Match your dark mode background */
  }
}

@layer utilities {
  .font-roboto {
    font-family: 'Roboto', sans-serif;
  }
}

@layer components {
  .glass-light {
    @apply bg-[#ffffff5c] dark:bg-[#47474733];
    backdrop-filter: blur(12px) saturate(180%);
  }
  
  .glass {
    @apply bg-white/40 dark:bg-gray-800/40;
    backdrop-filter: blur(8px) saturate(150%);
  }
}